#log{
    background-image: url(https://demishia.com/wp-content/uploads/2018/04/admin-login-background-images-8.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#lite{
    box-shadow: -3px -3px 9px #aaa9a9a2,
    3px 3px 7px rgba(147, 149, 151, 0.671);
}

input{
    caret-color: cadetblue;
}